/* FONTS */

/* Font - BREE SERIF
Used On:
Button Text */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Font - JOSEFIN SANS
Used On:
Menu's Description */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Josefin+Sans&display=swap');

/* BODY */

.divContent{
    margin: 2vw 4.5vw;
}

.divPies{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
}

.divSnacks{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
}

.divDrinks{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
}

.divDesserts{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5vw;
}

.menuPicture{
    width: 25vw;
}

.descMenu{
    width: 40vw;
    height: auto;
    margin: 1vw 2vw 1vw 2vw;
    font-size: 1.5vw;
    text-align: justify;
    font-family: 'Josefin Sans', serif;
}

.divButton{
    margin: 1vw;
    display: flex;
    align-items: center;
}

.buttonMenu{
    height: 3vw;
    width: 15vw;
    /* padding: 1vw; */
    line-height: 1vw;

    background-color: #3e9850;
    color: #E2E0EB;
    border: none;
    border-radius: 5%;
    font-size: 1.3vw;
    font-family: 'Bree Serif', serif;
    
}