/* FONTS */

/* Font Title */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 

/* Font Navbar */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    margin: 0;
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
}
.divLogo{
    float: left;
    position: relative;
    width: 30vmin;
    height: 20vmin;
    width: fit-content;
    height: fit-content;
    margin-left: 3%;
}

.logo{
    float: left;
    position: relative;
    width: 20vmin;
}

.title{
    float: left;
    position: relative;
    margin-top: -1%;
    margin-left: 3%;
    margin-right: 2%;
    font-size: 8vmin;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.slogan{
    float: left;
    margin: 3% 5% 3% 7%;
    /* margin-right: 7%; */
    font-size: 4vmin;
    text-align: center;
}

.divIconCart{
    height: 20vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-left: 5%;
}

.iconCart{
    float: left;
    display: flex;
    width: 6vmin;
    height: 6vmin;
}


.divIconAccount{
    margin-left: 1%;
    height: 20vmin;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

.iconAccount{
    display: flex;
    align-items: end;
    width: 6vmin;
    height: 6vmin;
}

/* NAVBAR */


.divNavbar{
    display: inline-flex;
    margin-top: 1%;
    width: 59vw;
    height: auto;
}

/* Button Home */
.divHome{
    display: flex;
    background-color: #3E9850;
    padding: 0% 1vw;
    height: 6vmin;
    border: 0;
    align-items: center;
    justify-content: center;

}

#HomeIcon{
    width: auto;
    height: 4.4vmin;
}

/* Button Menu */
.divMenu{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}

/* Button Fidelity */
.divFidelity{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}

/* Button How To Go */
.divHTG{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}

hr{
    height: 2vmin;
    background-color: #3E9850;
}


/* BODY */



/* FOOTER */