*{
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul{
    list-style: none;
    background: #3E9850;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #343435;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: #D9EEC4;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    background: #2a6837;
}

ul li:hover ul.dropdown{
    display: block;
}



/* ------------------------------------------------------------------------- */



.divNavbar{
    display: inline-flex;
    margin-top: 1%;
    width: 58.3vw;
    height: auto;
    position: sticky;
    top: 0px;
}

/* Button Home  */
.divHome{
    display: flex;
    background-color: #3E9850;
    padding: 0% 1vw;
    height: 6vmin;
    border: 0;
    align-items: center;
    justify-content: center;

}

#HomeIcon{
    width: auto;
    height: 4.4vmin;
}

/* Button Menu  */
.divMenu{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}

/* Button Fidelity  */
.divFidelity{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}

/* Button How To Go  */
.divHTG{
    display: flex;
    background-color: #3E9850;
    height: 6vmin;
    border: 0;
    padding: 0% 27%;
    width: 10vw;
    height: auto;

    white-space: nowrap;
    align-items: center;
    justify-content: center;
    line-height: 6vmin;
    color: #E2E0EB;
    font-family: 'Bree Serif', serif;
    font-size: 4.4vmin;
    font-weight: 400;
}
